.hero-banner {
    background-image: url(../../assets/banner.png);
}


.paragraph-design::after {
    position: absolute;
    content: "";
    height: 2px;
    left: -50px;
    top: 39px;
    width: 30px;
    background-color: #ffb400;
    box-sizing: border-box;
    z-index: 50;
}

.paragraph-design::before {
    position: absolute;
    content: "";
    height: 2px;
    left: 500px;
    top: 39px;
    width: 30px;
    background-color: #ffb400;
    box-sizing: border-box;
    z-index: 50;
}

.image-design {
    position: relative;
    display: block;
    margin: 0 auto;
}

.image-design::before {
    display: inline-block;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 70px;
    z-index: 0;
    transform: translate3d(26px, 26px, -26px);
    border: 6px solid #ffb400;
    width: 630px;
}

/* .button-section {
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
} */